body {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

.field_set {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0px;
    border-width: 1px;
    border-color: rgb(75, 0, 130);
    border-style: dashed;
}

fieldset legend {
    padding: 0px 10px;
}

select {
    margin-right: 5px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-width: 3px;
    border-color: rgb(75, 0, 130);
    border-style: solid;
}

.bookText {
    width: 33%;
    margin-right: 10px;
    padding-left: 10px;
	line-height: 30px;
}

.commentText {
    width: 100%;
    padding-left: 10px;
	line-height: 60px;
}

.nameText {
    width: 100%;
    padding-left: 10px;
	line-height: 30px;
}

.inp {
    display: flex;
}

input {
    border-width: 3px;
    border-color: rgb(75, 0, 130);
    border-style: solid;
}

input.submit {
    background-color: rgb(75, 0, 130);
    color: rgb(255, 255, 255);
    margin: 15px 15px 0px;
    padding: 5px;
}