#div1
{
	z-index: 4;
	position: relative;
	background-color: rgba(158, 40, 40, .6);
	text-align: left;
	height: 200px;
	width: 1200px;
	left: 50px;
	top: 50px;
}
#div2
{
	z-index: 3;
	position: absolute;
	background-color: rgba(79, 40, 158, .2);
	text-align: left;
	top: 150px;
	left: 250px;
	width: 800px;
	height: 400px;
}
#div3
{
	z-index: 2;
	position: relative;
	background-color: rgba(63, 222, 31, .4);
	text-align: left;
	height: 200px;
	width: 1200px;
	left: 50px;
	top: 250px;
}
#div4
{
	z-index: 6;
	position: relative;
	background-color: rgba(176, 120, 235, .8);
	text-align: right;
	height: 150px;
	width: 780px;
	top: -245px;
	left: 250px;
}
#div5
{
	z-index: 1;
	position: relative;
	background-color: rgba(64, 47, 47, .4);
	text-align: right;
	height: 150px;
	width: 780px;
	top: -170px;
	left: 250px;
}